h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#30210C; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#heading_e4bf9ac { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left;display: block }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#F7C526;  }
.textstyle4 { font-size:36pt; font-family:Arial, Helvetica, sans-serif; color:#F7C526;  }
.textstyle5 { text-align:left; }
#container_23932c22 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_23932c22_padding { margin: 10px; display: block;  }
#container_3dae042d { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_3dae042d_padding { margin: 10px; display: block;  }
#img_18f1f132 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_7912be8c { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_7912be8c_padding { margin: 10px; display: block;  }
#img_3f52f5e { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_2fe25639 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2fe25639_padding { margin: 10px; display: block;  }
#img_1994e0d2 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_21c46e0d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_21c46e0d_padding { margin: 10px; display: block;  }
#container_6b4db2e2 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_6b4db2e2_padding { margin: 10px; display: block;  }
#button_5bfa6758 { vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:459px; height:101px; background-color:#AA8334;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_41df46e { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_41df46e_padding { margin: 10px; display: block;  }
#img_3e575098 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_2aae4aae { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2aae4aae_padding { margin: 10px; display: block;  }
#button_4a065c39 { vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:431px; height:93px; background-color:#AA8334;  }
#container_6771e4d8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6771e4d8_padding { margin: 10px; display: block;  }
#container_64485fad { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_64485fad_padding { margin: 10px; display: block;  }
#container_7e87c8e1 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_7e87c8e1_padding { margin: 10px; display: block;  }
#container_5456af58 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_5456af58_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 600px)
{
		#container_3dae042d { width:100%;  }
		#container_7912be8c { width:100%;  }
		#container_2fe25639 { width:100%;  }
		#container_6b4db2e2 { width:100%;  }
		#container_41df46e { width:100%;  }
		#container_2aae4aae { width:100%;  }
		#container_64485fad { width:100%;  }
		#container_7e87c8e1 { width:100%;  }
		#container_5456af58 { width:100%;  }
}
